.feeling h2 {
    font-family: 'Rubik Black';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #438A5E;
}

.feeling h4 {
    font-family: 'Rubik Black';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #438A5E;
}

.feeling {
    padding: 5px;
}

.panel {
    border: 0;
}


.btn-submit {
    background-color: #e8f3a6;
    width: 25%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 36%;
    border-radius: 26px;
    border: none;
}