.about-txt p {
    font-family: 'Poppins Light';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 44px;
    text-align: justify;
    color: #404040;
    margin-top: 100px;
}

.about {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

@media screen and (max-width: 992px) {
    .about-txt p {
        font-size: 16px;
        line-height: 32px;
        margin-top: 40px;
    }
    .mf-logo-img {
        width: 40%;
    }
}