{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/home-new-user.css' %}">
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
  <link rel="stylesheet" href="{% static 'css/info-corona.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/head-logo.png' %}"/>
  {% block meta %}
  {% endblock meta %}

  <style>
    .navbar {
      margin-bottom: 0;
      background-color: #F7FBE1;
      z-index: 9999;
      border: 0;
      font-size: 18px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
    }
    .navbar li a, .navbar .navbar-brand {
      color: #436F8A !important;
      margin-left: 64px;
    }
    .navbar-nav li a:hover, .navbar-nav li.active a {
      color: white !important;
      background-color: #436F8A !important;
      border-radius:22px;
    }
    .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
    }
    @media screen and (max-width: 992px) {
      .navbar-toggle {
        margin-top: 55px;
      }
      .navbar-brand {
        font-size: 20px;
      }
      .logo {
        display: none;
      }
    }
  </style>

</head>

<nav class="navbar navbar-default" style="margin-bottom:120px;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><img class="logo" style="margin-top:26px;" src="{% static 'img/mf-logo.svg'%}" alt="mf-logo"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul style="margin-top:52px;" class="nav navbar-nav navbar-right">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/info-corona">INFO CORONA</a></li>
        {% block sign %}<li id="sign"><a href="{% url 'authapp:logout' %}">SIGN OUT</a></li>{% endblock %}
      </ul>
    </div>
  </div>
</nav>

<body>
  {% block content %}
  {% endblock content %}
</body>

<footer style="margin-top:160px;">
  <div class="container-fluid bg-green">
    <div class="container contact-us">
      <br><br>
      <h1>Contact Us</h1>
      <br><br>
      <a href="https://gitlab.com/RiDirg/tk1-a05-ppw" target="_blank"><img class="img-center" class="img-responsive" src="{% static 'img/footer/Gitlab.svg'%}" alt="contact-us"></a>
      <br><br>
      <p>Copyright © 2020 Rafi, Imam, Acen, Ara, All right reserved</p>
      <br><br>
    </div>
  </div>
<footer>

</html>
