{% extends 'info-corona.html' %}

{% block sign %}<li id="sign"><a href="{% url 'authapp:logout' %}">SIGN OUT</a></li>{% endblock %}

<!-- Form feeling about Corona -->
{% block feel %}
{% load static %}
<div class="feeling">
<div class="panel panel-default col-md-6 col-md-offset-3">
    <div class="panel-body">
        <h2>How do you feel about this year pandemic?</h2><br>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{formFeeling.as_p}}
            <button type="submit" class="btn btn-submit">Submit</button>
        </form>
    </div>
</div>
{% endblock feel %}